.checkoutProduct {
  display: flex;
  flex-direction: column;
  margin-block: 1.25em;
}

.checkoutp-row {
  display: flex;
}

.CheckoutProduct-info {
  padding-left: 1.25em;
}

.checkoutp-row > img {
  height: 11.25em;
  width: 11.25em;
  object-fit: contain;
}

.CheckoutProduct-rating {
  display: flex;
}

.CheckoutProduct-title {
  font-size: 1rem;
  font-weight: 1800;
}

.checkoutProduct > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 0.7em;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  font-size: 0.7rem !important;
  max-width: 30rem !important;
}

.checkoutProduct > button:hover {
  background: #f0c14b;
}
